@import 'tailwindcss';

@theme {
  --color-primary-50: #ffe3ea;
  --color-primary-100: #fec8d6;
  --color-primary-200: #fbabc2;
  --color-primary-300: #f78eaf;
  --color-primary-400: #f16f9c;
  --color-primary-500: #ea4c89;
  --color-primary-600: #bf4171;
  --color-primary-700: #96375a;
  --color-primary-800: #6f2c43;
  --color-primary-900: #4a202e;

  --font-barlow-condensed: var(--font-barlow-condensed);
  --font-host-grotesk: var(--font-host-grotesk);

  --max-width: 1200px;

  --writing-mode-horizontal-tb: horizontal-tb;
  --writing-mode-vertical-lr: vertical-lr;
  --writing-mode-vertical-rl: vertical-rl;
  --writing-mode-sideways-lr: sideways-lr;
  --writing-mode-sideways-rl: sideways-rl;

  --grid-area-header: header;
  --grid-area-main: main;
  --grid-area-aside: aside;
  --grid-area-footer: footer;

  --animate-horizontal-marquee: horizontalMarqueeAnimation 10s linear infinite;
  --animate-vertical-marquee: verticalMarqueeAnimation 10s linear infinite;
  --animate-skill-orbit: skillOrbit 25s linear infinite;

  @keyframes horizontalMarqueeAnimation {
    to {
      transform: translateX(calc(-100% - 32px));
    }
  }

  @keyframes verticalMarqueeAnimation {
    to {
      transform: translateY(calc(-100% - 32px));
    }
  }

  @keyframes skillOrbit {
    to {
      transform: rotate(1turn);
    }
  }
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-weight: var(--font-weight-semibold);
    text-wrap: balance;
  }

  :is(button, a) {
    cursor: pointer;
  }
}

@utility layout-grid {
  display: grid;
  grid-template-columns: 1fr 2.25fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header main main"
    "aside main main"
    "aside footer footer";
  /*grid-template-areas:
    'sidebar'
    'toc'
    'main';*/

  /*@variant lg {
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'sidebar toc'
      'sidebar main';
  }

  @variant xl {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'sidebar main toc';
    gap: 16px;
  }*/
}

@utility grid-area-* {
  grid-area: --value(--grid-area-*, [*]);
}

@utility writing-mode-* {
  writing-mode: --value(--writing-mode-*, [*]);
}
